html {
    font-size: 100%;
}

body {
color: black;
background-color: lightgray;
top: 10px;
text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}

div.absolute {
position: absolute;
top: 5px;
left: 750px;

}

.center {
margin: 0;
position: absolute;
top: 20%;
left: 38%;
}

.box{
    width: 700px;
    text-align: left;
    padding: 10px 30px 25px 40px;
    background-color: white;
    color: black;
    border-radius: 12px;
    font-size: 1.5rem;
}

.box2{
    width: 700px;
    text-align: left;
    padding: 10px 30px 25px 40px;
    background-color: white;
    color: black;
    font-size: 1.5rem;
}

.box3{
    width: 700px;
    text-align: left;
    padding: 10px 30px 25px 40px;
    background-color: white;
    color: black;
    border-radius: 12px;
    font-size: 1.5rem;
}

@media all and (max-width: 800px){
    .box2{
        width: 700px;
        text-align: left;
        padding: 10px 30px 25px 40px;
        background-color: white;
        color: black;
        font-size: 2rem;
    }
    
    .box3{
        width: 700px;
        text-align: left;
        padding: 10px 30px 25px 40px;
        background-color: white;
        color: black;
        border-radius: 12px;
        font-size: 2rem;
    }
}
